h1 {
	color: chocolate;
	display: flex;
	justify-content: center;
}
h2 {
	color: darkcyan;
}
:host ::ng-deep rect {
	fill: #c6e0e4;
}
::ng-deep text {
	fill: black;
}
/* ::ng-deep image {
	width: 32px;
	height: 32px;
	clip-path: circle(50%);
} */
